@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body {
    background-color: #1a0033;
    margin: 0;
}

#title {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: white;
    text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

#titleimg {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    height: 0px;
    background: rgba(131, 0, 145, 0.27);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    font-size: 1rem;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: min-height 0s, all 1s;
}

.footer .footeritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1.5s linear;
}

.footer .footeritem a {
    color: #d9d7ff;
}

.footer .footeritem a:hover {
    opacity: 0.8;
}

.footer.close {
    min-height: 0;
    padding: 0px;
}

.footer.close .footeritem {
    visibility: hidden;
    opacity: 0;
}

.smallfooter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    right: auto;
    min-height: 40px;
    min-width: 20vw;
    height: 0px;
    background: rgba(131, 0, 145, 0.27);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    font-size: 1rem;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    visibility: visible;
    opacity: 1;
    transition: visibility 2s, opacity 1.5s linear, min-height 0s, all 1s;
    cursor: pointer;
}

.button {
    background-color: rgba(193, 63, 207, 0.47);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #title {
        font-size: 12.5vw;
    }

    footer {
        font-size: 0.8rem;
    }
}